<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>
  <body>
    <header>
      <h1>PetGPT: Answers</h1>
      <button type="button" id="view-all-topics">View All Topics</button>
    </header>
    <main>
      <section id="How can I help?">
        <h2>Welcoming your <%= breed %> home</h2>
        <img src="<%= breed %>.png" class="left-image" />
      </section>

      <section id="topics">
        <table>
          <% for(var topic in topics) { %>
          <tr>
            <td>
              <button class="btn" type="button" id="<%= topic %>">
                <%= topic %>
              </button>
            </td>
          </tr>
          <% } %>
        </table>
      </section>

      <section id="Any more questions?">
        <h2>Any more questions?</h2>
        <form id="question-form">
          <input
            type="text"
            id="question-input"
            placeholder="Enter your question..."
          />
          <button type="submit">Submit</button>
        </form>
        <ul id="question-list">
          <!-- Questions will be dynamically added here -->
        </ul>
      </section>

      <div id="answer-container">
        <!-- Answers will be displayed here -->
      </div>
    </main>
    <%- include('footer.ejs') %>
  </body>
  <script src="../answer_script.js"></script>
</html>
