<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>
  <body>
    <header>
      <nav class="green darken-2">
          <div class="nav-wrapper">
              <a href="#" class="brand-logo">PetGPT: Answers</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="#">For First-Time Dog Owners</a></li>
              </ul>
          </div>
      </nav>
  </header>
    <div class="container">
      <!-- welcome message with photo -->

      <!-- list all topics -->
      <div class="row" id="about-supplies" display="none">
        <div class="col s12">
          <div class="card" id="topics">
            <h2>Welcoming your <%= breed %> home</h2>
            <img src="<%= breed %>.png" class="left-image" />
            <table>
              <% for(var topic in topics) { %>
                <td>
                  <button class="btn waves-effect waves-light btn-fixed-width" type="button" id="<%= topic %>">
                    <%= topic %>
                  </button>
                </td>
              <% } %>
              <td>
                <button class="btn waves-effect waves-light btn-fixed-width" id="view-all-topics" type="button">View All Topics</button>
              </td>
            </table>
          </div>
        </div>
      </div>

      <!-- should be hidden topic description -->
      <div class="row" id="about-supplies" display="none">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Supplies</span>
              <% for(var supply of topics.supplies) { %>
              <ul>
                <li>Name: <%= supply.name %></li>
                <li>Purpose: <%= supply.purpose %></li>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <!-- ask ChatGPT a question -->
      <div class="row">
        <div row="col s12">
          <div class="card" id="How can I help?">
            <div class="row">
              <div class="col s12">
                <span class="card-title">Questions</span>
                <form id="question-form">
                  <input
                    type="text"
                    id="question-input"
                    placeholder="Enter your question..."
                  />
                  <div class="card-action">
                    <button class="btn waves-effect waves-light btn-fixed-width" type="button">Submit</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <ul id="question-list">
                  <!-- Questions will be dynamically added here -->
                </ul>

                <div id="answer-container">
                  <!-- Answers will be displayed here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
  <script src="../answer_script.js"></script>
  <script
    type="text/javascript"
    src="materialize/js/materialize.min.js"
  ></script>
</html>
